
<h1>New Post</h1>

<div class="row">
  <div class="col-md-4">
    <p>Guidelines for posts</p>
    <ul>
      <li>Title must have 5 characters.</li>
      <li>Body has a minimum length of 20 characters.</li>
      <li>The incessant use of hashtags will get you banned.</li>
    </ul>
  </div>
  <div class="col-md-8">
    <%= render partial: 'form', locals: {topic: @topic, post: @post } %>
  </div>
</div>
