// "bootstrap-sprockets" must be imported before "bottstrap" and "bootstrap/variables"
// @import "bootstrap-sprockets";
@import "bootstrap";

//may need to add '@import "app/stylesheets/welcome.scss"'
// check css assignment branch for example to verify syntax.

  .user-info {
    margin-top: 9px;
  }

  .nav {
    margin-top: 5px;
  }

  .vote-arrows {
    width: 40px;
    text-align: center;
  }
